@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Exo+2|Lobster');

#paddingCarosel {
    padding-top: 150px;
}

/*style for galery*/
.gallery {
    margin-bottom: 3px;
}
#gallery img{
    max-width: 2%;
}
.gallery:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.container {
     width: 100%; /* ширина блока-контейнера */
     max-width: 960px; /* максимальная ширина контейнера */
     margin: 0 auto; /* этот стиль центрирует контейнер */
     font-family: "Book Antiqua", sans-serif;
 }
.photo {
    float: left;/* говорим элементам выстраиваться один за другим */
    width: 33.333333%; /* устанавливаем ширину элемента */
    padding: 25px; /* добавляем отступы с каждой стороны */
    box-sizing: border-box; /* меняем способ вычисления ширины */
}
.photo img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 10px solid #eee;
    box-sizing: border-box;
}
.photo a {
    display: block;
    position: relative;
}
.photo a:hover {
    opacity: 0.5;
}
.photo a:after {
    content: '';
    background: transparent url(../img/galery/eye-icon.png) no-repeat center;
    width: 52px;
    height: 35px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
}
.photo:hover > a:after {
    visibility: visible;
}
.photo figcaption {
    color: #999999;
    text-align: center;
    margin-top: 20px;
}
.container h1, h2{
    font-size: 36px;
    text-transform: uppercase;
    color: #cccccc;
    text-align: center;
    margin: 30px 0;
}