@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Exo+2|Lobster');

/*#paddingCarosel {
    padding-top: 150px;
}*/
/*style for galery*/
.gallery:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.container {
    padding-top: 15px;
     width: 100%; /* ширина блока-контейнера */
     max-width: 1024px; /* максимальная ширина контейнера */
     margin: 0 auto; /* этот стиль центрирует контейнер */
     font-family: "Book Antiqua", sans-serif;
 }
.photo {
    float: left;/* говорим элементам выстраиваться один за другим */
    width: 33.333333%; /* устанавливаем ширину элемента */
    padding: 20px; /* добавляем отступы с каждой стороны */
    box-sizing: border-box; /* меняем способ вычисления ширины */
}
.photo img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 8px solid #eee;
    box-sizing: border-box;
}
.photo a {
    display: block;
    position: relative;
}
.photo a:hover {
    opacity: 0.5;
}
.photo a:after {
    content: '';
    background: transparent url(../img/galery/eye-icon.png) no-repeat center;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
}
.photo:hover > a:after {
    visibility: visible;
}
.container h1, h2{
    font-size: 2.5em;
    color: #000000;
    text-align: center;
    margin: 10px 0;
}
.container h1:hover, h2:hover {
    text-shadow: 3px 3px 3px #8f8f8f;
    transition: text-shadow 300ms linear 0ms;
    cursor: pointer;
}